<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Recepies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage<i class="fa fa-caret-right" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" href="#">Save Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Fetch Data</a>
              </li>  
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
